<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fro">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Frô">
        <activity android:name=".TelaPlantas"></activity>
        <activity android:name=".TelaDoacoes" />
        <activity android:name=".TelaTarefas" />
        <activity android:name=".TelaNotificacoes" />
        <activity android:name=".TelaSobre" />
        <activity android:name=".TelaPerfilAmigos" />
        <activity android:name=".TelaAmigos" />
        <activity android:name=".TelaConquistas" />
        <activity android:name=".TelaPerfil" />
        <activity android:name=".TelaGaleriaPlanta" />
        <activity android:name=".DescricaoPlanta" />
        <activity android:name=".TipoCadastroPlanta" />
        <activity android:name=".CadastroPlanta" />
        <activity android:name=".MainActivity" />
        <activity android:name=".TelaInicial" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>